doctype html 
html 
  head 
      title  Index 
  body 
      h1 PiKey 
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore id quo voluptatibus quibusdam est quas vero, amet quos tempora, minima rem quisquam perspiciatis odio consequuntur ipsa voluptates reprehenderit aut. Quaerat?